{% extends "@HeimrichHannotVideo/videoprovider/videoprovider_default.html.twig" %}

{% block previewImage %}
    {% if playButton|default() %}
        <div class="video-thumbnail">
            <div class="image_container">
                {% block playbutton %}
                    <button class="play-button {{ type|default }}" tabindex="0" aria-label="{{ 'huh_video.fields.videoLinkText.play'|trans }}{% if text|default() %}: {{ text|raw }}{% endif %}"></button>
                {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block videoplayer %}
    <video{% if previewImage|default() %} poster="{{ previewImage.image.imageSrc }}"{% endif %}{% if autoplay|default() == true %} autoplay playsinline muted{% endif %}{% if controls|default() == true %} controls="controls"{% endif %}{% if loop|default() == true %} loop{% endif%} preload="metadata">
        {% if multipleSrc|default() %}
            {% for video in multipleSrc %}
                <source src="{{ video.file.path }}"{% if video.mediaQuery|default() %} type="video/{{ video.file.extension }}" media="{{ video.mediaQuery }}" {% endif %}{% if video.file.name|default() %} title="{{ video.file.name }}"{% endif %}>
            {% endfor %}
        {% endif %}
        {% if not multipleSrc|default() and src|default() %}
            <source src="{{ src }}">
        {% endif %}
        {% if subtitles|default() %}
            {% for subtitle in subtitles %}
                <track label="{{ subtitle.label }}" kind="subtitles" srclang="{{ subtitle.lang }}" src="{{ subtitle.src }}">
            {% endfor %}
        {% endif %}
        {% if alternativeText|default() %}
            {{ alternativeText }}
        {% endif %}
    </video>
{% endblock %}